.logo-config {
    width: 5rem;
    height: auto;
}

.logo {
    text-decoration: none;
    color: black;
}

.logo:hover {
    color: black;
}

.role-badge {
    color: #fff;
    background-color: #3498db;
    border-radius: 10%;
    width: 10rem;
    text-align: center;
    padding: 5px;
}

.menu-card {
    position: absolute;
    right: 3rem;
    margin-top: 5vh !important;
    background-color: #fff;
    animation: menu-card ease .5s;
    width: 12rem !important;

}

.menu-card .item:hover {
    background-color: #ecf0f1;
    cursor: pointer;
}

.menu-card .item::selection {
    background-color: #7f8c8d;
    cursor: pointer;
}

.menu-card .item {
    color: #000 !important;
    text-decoration: none !important;
    margin-top: 1rem;
    padding: .5rem;
    width: 10rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@keyframes menu-card {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.notification-add-user {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 14px;
    padding-left: 8px;
    padding-top: 1px;
    right: 31.5rem;
    position: absolute;
    top: 2.2rem;
}