.logo-config {
    width: 5rem;
    height: auto;
}

.logo {
    text-decoration: none;
    color: black;
}

.logo:hover {
    color: black;
}

.role-badge {
    color: #fff;
    background-color: #3498db;
    border-radius: 10%;
    width: 10rem;
    text-align: center;
    padding: 5px;
}